/* For base page */

.root {
	position: absolute;
  width: 100%;
  min-height: 100%;
  height: auto;
	background-color: #141414;
}

.container {
  position: absolute;
	width: 100%;
	min-height: 100%;
	height: auto;
	display: flex;
	will-change: transform, opacity;
	background-color: #141414;
}