.base {
	width: 100%;
	min-height: 300px;
	height: auto;
	color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
}

.avatarLarge {
	width: 200px !important;
	height: 200px !important;
}

.header {
	margin-bottom: 20px;
}

.headerText {
	font-weight: bold !important;
	color: #FFF;
}

.content {}

.contentText {
	color: grey ;
	text-align: justify;
	margin-bottom: 25px !important;
}